[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    */venv/*
    */env/*
    */staticfiles/*
    */node_modules/*
    manage.py
    */settings/*
    */wsgi.py
    */asgi.py
    gulpfile.js

[report]
precision = 2
show_missing = True
skip_covered = False

exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abstract

[html]
directory = htmlcov
