<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/agrotech solo negro.png">
    <link href="/static/css/app.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div class="container-fluid">
        
        <!-- Topbar -->
    <div id="topbar-container"></div>

    <div id="left-sidebar"></div>

    <div id="maps/vector"></div>

    <div class="page-wrapper">
        <div class="page-content-tab">
            <div id="page-content">
                <!-- Aquí se inyectará dashboard.html -->
            </div>

            <!-- Footer -->
            <div id="footer-container"></div>
        </div>
    </div>
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script type="module" src="/static/js/dashboard.js"></script>
    <script type="module" src="/static/js/dashboarddatos.js"></script>
    <script type="module" src="/static/js/parcels/dashboard-parcels-summary.js"></script>
    <script src="/static/js/user-profile.js"></script>


    <script>
    </script>
    <script type="module">
        import { loadLayoutComponents } from '/static/js/load_components.js';
        const components = {
            "topbar-container": "/templates/partials/horizontal-nav.html",
            "page-content": "/templates/dashboard.html",
            "footer-container": "/templates/partials/footer.html",
            "left-sidebar": "/templates/partials/left-sidebar.html",
            "righsidebar": "/templates/partials/right-sidebar.html",
            "vendorjs": "/templates/partials/vendorjs.html"
        };
        loadLayoutComponents(components);
    </script>
    </script>

  
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/static/js/charts.js"></script>



</body>
</html>
