{% extends 'vertical_base.html' %}

{% load static %}

{% block title %}Leaflet{% endblock %}

{% block extra_css %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Agro Tech</a></li>
                        <li class="breadcrumb-item"><a href="#">Mapas</a></li>
                        <li class="breadcrumb-item active">Seleccionar campo</li>
                    </ol>
                </div>
                <h4 class="page-title">Selecciona tu campo</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mapa Predeterminado</h4>
                </div>
                <div class="card-body">
                    <div id="map_default" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <--<div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mapa con Límites</h4>
                </div>
                <div class="card-body">
                    <div id="map_bounds" style="height: 400px;"></div>
                </div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}

<script>
    // Mapa Predeterminado
    var mapDefault = L.map('map_default').setView([51.505, -0.09], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mapDefault);

    // Mapa con Límites Extendidos
    var mapBounds = L.map('map_bounds');
    var southWest = L.latLng(40.712, -74.227),
        northEast = L.latLng(40.774, -74.125);
    var bounds = L.latLngBounds(southWest, northEast);
    mapBounds.fitBounds(bounds);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mapBounds);
</script>
{% endblock %}
